<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Megan Saunders Page</title>
  <meta name="description" content="Megs research">
  <meta name="author" content="Megan Saunders">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

</head>
<body>

   <!--draft of navbar to replace below container-->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
      <a class="button" href="#navbar">Menu</a>
        <nav id="navbar">
          <ul class="navbar">
            <li><a class="button" href="/index.html">Home</a></li>
            <li><a class="button" href="/qualifications.html">Qualifications</a></li>
            <li><a class="button" href="/projects.html">Projects</a></li>
            <li><a class="button" href="/projects.html">Projects</a></li>
        <li><a class="button" href="/people.html">People</a></li>
         <li><a class="button" href="/media.html">Media</a></li>
         <li><a class="button" href="/news.html">News</a></li>
         <li><a class="button" href="/collaborations.html">Collaborations</a></li>
         <li><a class="button" href="https://scholar.google.com.au/citations?hl=en&user=YhZXxxUAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Publications</a></li>
         <li><a class="button" href="#">Back</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  
   <!-- Primary Page Layout
   –––––––––––––––––––––––––––––––––––––––––––––––––– 
   <div class="container">
      <div class="row">
         <div class="twelve columns" style="margin-top: 5%">
         <a class="button button-primary" href="/index.html">Home</a>
         <a class="button" href="/qualifications.html">Qualifications</a>
         <a class="button" href="/projects.html">Projects</a>
         <a class="button" href="/people.html">People</a>
         <a class="button" href="/media.html">Media</a>
         <a class="button" href="/news.html">News</a>
         <a class="button" href="/collaborations.html">Collaborations</a>
         <a class="button" href="https://scholar.google.com.au/citations?user=YhZXxxUAAAAJ&hl=en&oi=ao" target="_blank">Publications</a>
         </div>
      </div>
    </div>
-->
    <hr>
